h1 {
    color: #444;
    font-family: quincy;
    font-size: 70px;
    padding-bottom: 50px;
}

h2{
    font-family: 'Avenir';
    color: #E20031;
    font-size: 16px;
}

h3{
    color: #333;
    font-family: 'avenir';
    font-size: 16px;
    font-weight: 400;
}

@font-face{
    font-family: quincy;
    src: url(font/QuincyCF-Light.otf);
}

.navbar-default{
    background-color: #fff;
    border: 0px;
}

body{
    background: linear-gradient(to bottom, #F4F5F5 200px,#fff 590px, #fff 100%);
}

div.intro{
    min-height:80px;
    font-family: 'Avenir';
}

div.pagetitle{
    min-height:100px;
}

div.space{
    height: 150px;
}

div.tile{
    margin-bottom: 30px;
}

img.img_tile{
    margin-bottom:30px;
}

div.resume_body{
    font-family: 'Avenir';
    max-width: 600px;
    padding-left:30px;
    padding-right:30px;
 
}

div.resume_title{
   min-height: 30px;
   font-family: 'Avenir';
   padding-left: 30px;
   color: #E20031;
   

}

div.resume_work_facts{
    margin-bottom: 10px;
    font-family: 'Avenir';
    padding-left:30px;
    padding-right:0px;
}

div.resume_row{
    padding-bottom: 20px;
}

div.project_title{
    min-height: 30px;
    font-family: 'Avenir';
    margin-left: 110px;
    color: #E20031;
    font-size: 16px;
 }

 div.project_body{
    font-family: 'Avenir';
    max-width: 800px;
    font-size: 16px;

   

 
}



/* hover on images -- changes opacity
.img-responsive{
    opacity:1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-responsive:hover{
    opacity: 0.8;
    
}
*/



footer{
    background-color: #e2e2e2;
    height: 40px;
    color: #888;
    padding-left: 20px;
    padding-top:12px;
    font-size: 11px;
}

div.tile1{
    background: url(images/Commutability.png) no-repeat;
    min-height:500px;
    
    background-size: contain;
    
}

div.tile1:hover{
    background: url(images/Commutability_hover.png) no-repeat;
    background-size: contain;
}

/* css for the carousel */ 

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  
  position: relative;
  margin: auto;
  
}

.carousel-inner img {
    margin: auto;
  }



div.spacer{
    height:30px;
}

a.carousel-control.left{
    background-image: none;
}

a.onemapcarousel-control span.glyphicon{
    margin-top:-50px;
    color: #666666;
    font-size: 22px;
}



a.carousel-control.right{
    background-image: none;
}

.carousel-indicators{
    bottom:0px;
    
}

li.onemapindicators{
    border: none;
    background-color: rgb(196, 196, 196);
}

li.onemapindicators.active{
    border: none;
    background-color: #F8A528;
    
}

p.onemap-carousel-text{
    color: #666;
}

div.carousel-caption{
    text-shadow: none;
    font-size: 16px;
    font-family: 'avenir';
    
    padding-bottom:15px;
}



div.blue_background{
    background: -moz-linear-gradient(270deg, rgba(40,188,224,1) 0%, rgba(18,151,199,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(40,188,224,1)), color-stop(100%, rgba(18,151,199,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(40,188,224,1) 0%, rgba(18,151,199,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(40,188,224,1) 0%, rgba(18,151,199,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(40,188,224,1) 0%, rgba(18,151,199,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(40,188,224,1) 0%, rgba(18,151,199,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28BCE0', endColorstr='#1297C7',GradientType=0 ); /* ie6-9 */
}

div.green_background{
    background: -moz-linear-gradient(270deg, rgba(0,196,147,1) 0%, rgba(8,158,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,196,147,1)), color-stop(100%, rgba(8,158,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(0,196,147,1) 0%, rgba(8,158,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(0,196,147,1) 0%, rgba(8,158,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(0,196,147,1) 0%, rgba(8,158,128,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(0,196,147,1) 0%, rgba(8,158,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00C493', endColorstr='#089E80',GradientType=0 ); /* ie6-9 */
}

div.purple_background{
    background: -moz-linear-gradient(270deg, rgba(135,134,235,1) 0%, rgba(101,101,186,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(135,134,235,1)), color-stop(100%, rgba(101,101,186,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(135,134,235,1) 0%, rgba(101,101,186,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(135,134,235,1) 0%, rgba(101,101,186,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(135,134,235,1) 0%, rgba(101,101,186,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(135,134,235,1) 0%, rgba(101,101,186,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8786EB', endColorstr='#6565BA',GradientType=0 ); /* ie6-9 */
}