h1 {
    color: #444;
    font-family: quincy;
    font-size: 70px;
    padding-bottom: 50px;
}

@font-face{
    font-family: quincy;
    src: url(font/QuincyCF-Light.otf);
}

.navbar-default{
    background-color: #fff;
    border: 0px;
}

body{
    background: linear-gradient(to bottom, #F4F5F5 200px,#fff 590px, #fff 100%);
}

div.intro{
    min-height:80px;
    font-family: 'Avenir';
}

div.pagetitle{
    min-height:100px;
}

div.space{
    height: 150px;
}

div.tile{
    margin-bottom: 30px;
}

img.img_tile{
    margin-bottom:30px;
}

div.resume_body{
    font-family: 'Avenir';
    max-width: 600px;
    padding-left:30px;
    padding-right:30px;
 
}

div.resume_title{
   min-height: 30px;
   font-family: 'Avenir';
   padding-left: 30px;
   color: #E20031;
   

}

div.resume_work_facts{
    margin-bottom: 10px;
    font-family: 'Avenir';
    padding-left:30px;
    padding-right:0px;
}

div.resume_row{
    padding-bottom: 20px;
}

div.project_title{
    min-height: 30px;
    font-family: 'Avenir';
    margin-left: 110px;
    color: #E20031;
    font-size: 16px;
 }

 div.project_body{
    font-family: 'Avenir';
    max-width: 800px;
    
    margin-bottom: 60px;
    font-size: 16px;
 
}

h2{
    font-family: 'Avenir';
    color: #E20031;
    font-size: 16px;
}

/* hover on images -- changes opacity
.img-responsive{
    opacity:1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-responsive:hover{
    opacity: 0.8;
    
}
*/



footer{
    background-color: #e2e2e2;
    height: 40px;
    color: #888;
    padding-left: 20px;
    padding-top:12px;
    font-size: 11px;
}

div.tile1{
    background: url(images/Commutability.png) no-repeat;
    min-height:500px;
    
    background-size: contain;
    
}

div.tile1:hover{
    background: url(images/Commutability_hover.png) no-repeat;
    background-size: contain;
}

/* css for the carousel */ 

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #353535;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}